
div{
    flex-basis: 20%;
    letter-spacing: 0.05rem;
}

h4{
    text-decoration:underline;
}
.pokemon{
    height: 150px;
    width: 210px;

}
.pokebg{
    background-color: rgb(243, 200, 200);
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    div{
        flex-basis: 50%;
        letter-spacing: 0.05rem;
    }
}